{% extends 'layout.html' %}

{% block bodyclass %}embed{% endblock %}

{% block content %}
<iframe id="iframedSite" src="http://news.sky.com/politics"></iframe>

<div class="embededChartStuff">
    <h2>Polls timeline &#x25BE;</h2>
    <canvas id="timeline" width="1400" height="150"></canvas>
    <div class="majority">
        {% for day in data %}
        <div class="point {{ day.majority }}">
            <div class="data">
                <h4>{{ day.date }}</h4>
                <ul>
                    <li>conservative: {{ day.percent.torries }}% / {{ day.seats.torries }} seats</li>
                    <li>labour: {{ day.percent.labour }}% / {{ day.seats.labour }} seats</li>
                    <li>lib-dem: {{ day.percent.libdem }}% / {{ day.seats.libdem }} seats</li>
                    <li>ukip: {{ day.percent.ukip }}% / {{ day.seats.ukip }} seats</li>
                    <li>others: {{ day.percent.other }}% / {{ day.seats.other }} seats</li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="legend">
        <h3>majority based on opinion polls</h3>
        <ul>
            <li class="conservative">conservative</li>
            <li class="hung">hung parliment</li>
            <li class="labour">labour</li>
        </ul>
    </div>
</div>

<script>var pollData = {{ data|json|safe }};</script>

<script src="/bower_components/chartjs/Chart.js"></script>
<script src="/bower_components/q/q.js"></script>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/momentjs/moment.js"></script>
<script src="/scripts/timeline-tooltip.js"></script>
<script src="/scripts/timeline.js"></script>
<script src="/scripts/data.js"></script>
<script src="/scripts/app.js"></script>
<script src="/scripts/embed.js"></script>
{% endblock %}