{% extends 'layout.html' %}

{% block content %}
<h1>Twitter results</h1>
<ul>
	{% for status in twitter %}
	<li>{{ status }}</li>
	{% endfor %}
</ul>
<p>Total score is {{ score }} which means people are feeling <strong>{{ feeling }}</strong> about '{{ term|title }}'</p>
{% endblock %}