<html id="root" lang="en">
<head>
	<meta charset="utf-8">
	<title>Sky News Hack Day</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="/images/sky-news-touch.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/images/sky-news-touch-ipad.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/images/sky-news-touch-retina.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/images/sky-news-touch-retina-ipad.png">
	<link rel="stylesheet" href="/styles/main.css">
</head>

<body class="{% block bodyclass %}{% endblock %}" >
	{% block content %}{% endblock %}
</body>
</html>