{% extends 'layout.html' %}

{% block content %}
<h1>Mentions</h1>

<p>{{munge}}</p>

<ul>
	{% for mention in mentions %}
	<li>{{ mention.name }} | {{ mention.count }}</li>
	{% endfor %}
</ul>
{% endblock %}