$conservative_colour: #00f;
$labour_colour: #f00;
$hung_colour: #ccc;

* {
    margin: 0;
    padding: 0;
}

body {
    color: #333;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 2rem 1rem;

    &.embed {
        padding: 0;
    }
}

.graph,
.majority {
    /*margin: 0 auto;
    width: 75%;*/
}

.graph {
    background-color: #fefefe;
    border: 1px solid #ccc;
    height: 300px;
    width: 400px;
}

.majority {
    list-style-type: none;

    .point {
        display: block;
        float: left;
        position: relative;
        height: 10px;
        width: 1px;
        margin: 1px 0;

        h4 {
            font-size: 0.8rem;
            padding: 0 0 0 0.5rem;
        }

        ul {
            border: 1px solid #666;
            border-left: 5px solid;
            padding: 0.5rem;
        }

        li {
            list-style-type: none;
        }

        &.hung {
            background-color: $hung_colour;

            ul { border-left-color: $hung_colour; }
        }

        &.lab {
            background-color: $labour_colour;

            ul { border-left-color: $labour_colour; }
        }

        &.con {
            background-color: $conservative_colour;

            ul { border-left-color: $conservative_colour; }
        }

        .data {
            background: #fff;
            display: none;
            padding: 1rem;
            font-size: 0.8rem;
            position: absolute;
            top: -160px;
            left: 0;
            width: 230px;
            z-index: 100;
        }

        &:hover {
            .data {
                display: block;
            }
        }
    }
}

.legend {
    margin: 2rem;

    h3 {
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
    }

    ul {
        list-style-type: none;
    }

    li {
        border-style:solid;
        border-width: 0 0 0 10px;
        display: inline-block;
        margin: 3px 0 0 0;
        padding-left: 5px;
    }

    .conservative { border-color: $conservative_colour; }
    .labour { border-color: $labour_colour; }
    .hung { border-color: $hung_colour; }
}

#iframedSite {
    border: none;
    height: 100%;
    width: 100%;
}

.embededChartStuff {
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.4);
    background: rgba(255, 255, 255, 1);
    position: fixed;
    bottom: -80px;
    transition:position 0s linear 0.5s,opacity 0.5s linear;
    width: 100%;

    h2 {
        color: #666;
        font-size: 1.1rem;
        margin: 0 0 0 0.5rem;
        padding-bottom: 0.5rem;
    }

    .legend {
        visibility:hidden;
        opacity:0;
        transition:visibility 0s linear 0.5s,opacity 0.5s linear;
    }

    #timeline {
        display: none;
    }
}

.embededChartStuff:hover {
    h2 {
        display: none;
    }

    .legend {
        visibility:visible;
        opacity:1;
        transition-delay:0s;
    }
    bottom: 0;

    #timeline {
        display: block;
    }
}
